<footer class="mt-auto text-white-50">
    <p>
        Watch2Gether Clone made by 
        <a href="https://github.com/0xBitBuster" class="text-white" target="_blank">0xBitBuster</a>
    </p>
</footer>