<!DOCTYPE html>
<html lang="en" class="h-100">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="author" content="Github: 0xBitBuster (saibot-tsch)"/>
        <meta name="robots" content="noindex">
        <link rel="icon" type="image/png" href="/assets/icon.png">
        <title>Watch2Gether Clone</title>
        
        <!-- Bootstap 5 CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />
        <!-- Bootstrap 5 Icons -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
        <!-- Custom CSS -->
        <link type="text/css" rel="stylesheet" href="/css/cover.css" />
    </head>
    <body class="d-flex h-100 text-center text-white bg-dark">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <main class="px-3 mt-auto">
                <h1>Watch2Gether Clone - 404</h1>
                
                <p class="lead mb-4">
                    The page you are looking for is not available.
                </p>

                <p class="lead">
                    <a type="submit" class="btn btn-lg btn-secondary fw-bold border-white bg-white" href="/">
                        Go Home
                    </a>
                </p>
            </main>

            <%- include('partials/footer.ejs') %>
        </div>
    </body>
</html>
